.git
.github
.next
.vscode
node_modules
tmp
public/media
tests
test-results
playwright-report
blob-report
playwright.config.ts
vitest.config.mts
vitest.setup.ts
test.env
.env
.env.local
.env.*.local
*.log
.DS_Store
